@import url('https://fonts.googleapis.com/css2?family=Mooli');

#id{
    background-color: #01A9DB;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: .3s;
    text-align: justify;
}

.card h3{
    text-align: center;
}

.card:hover{
    color: #01A9DB;
    background: whitesmoke;
    transform: scale(1.2);
    border: 2px solid #0489B1;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 14px;
}

.valores {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 60px 100px 60px;
}

.valores h1{
    font-size: 80px;
    font-family: "Mooli";
    margin-bottom: 10px;
}

@media (max-width: 700px){
    .valores h1{
        font-size: 40px;
    }
} 

.valores h2{
    text-align: left;
    margin-top: 30px;
    font-size: 40px;
    font-family: "Mooli";
}
.valores p{
    font-size: 16px;
    text-align:justify;
}

.gallery {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #01A9DB;
    background:whitesmoke;
}

.gallery img {
    width: 300px;
    margin-bottom: 15px;
    height: auto; 
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px){
    .gallery img {
        width: 200px;
    }
}
.gallery img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal img {
    width: 80%;
    height: auto;
    max-width: 800px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


/*                 Barra menu                   */

nav {
    height: 80px;
    width: 100%;
    position: fixed;
    font-weight: bold;
    background: whitesmoke;
    z-index: 2;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    color: black;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}

li a.activar, li a:hover{
    transition: .3s;
}

section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

.x{
    font-family: "Mooli";
    font-size: 16px;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 10px;
}

.x:hover{
    background-color: #1C1C1C;
    border-radius: 15px;
    color: white;
}

.x:active{
    background-color: #000101;
    border-radius: 20px;
    transform: scale(1.2);
}

.enlace{
    position: absolute;
    padding: 20px 50px;
    transition: .3s;
}

.enlace img{
    width: 35px;
    height: 35px;
    margin: 0px 0px 0px 9px;
}

.enlace h3{
    font-family: "Mooli";
    font-size: 10px;
    color: black;
}

.enlace:hover{
    transform: scale(1.2);
}

.enlace:active{
    transform: scale(.8);
}

.logo{
    height: 40px;
}

.checkBTN {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 20px; 
    cursor: pointer;
    display: none;
    transition: .3s ease-out;
}

.checkBTN:hover {
    color: #01A9DB;
}

.checkBTN:active {
    color: #0489B1;
    transform: scale(.8);
}

#check{
    display: none;
}

@media (max-width: 952px){
    .titulo h1{
        font-family:"Mooli";
        letter-spacing: 3px;
        font-size: 80px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    
    .titulo h2{
        font-size: 30px;
        font-family: "Mooli";
        text-align: center;
    }

    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .titulo h1{
        font-family:"Mooli";
        letter-spacing: 3px;
        font-size: 40px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    
    .titulo h2{
        font-size: 25px;
        font-family: "Mooli";
        text-align: center;
    }

    .checkBTN{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: whitesmoke;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}



/* Pie de pagina */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px;
    margin: 0;
}


.footer-distributed h3 span {
    color: #01A9DB;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #01A9DB;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #01A9DB;
}

.footer-links a:hover {
    color: #01A9DB;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
